.board {
  padding: 1px;
  cursor: crosshair;
  display: grid;
  background-color: rgb(0,0,255);
  box-shadow: 8px 0px 1px 1px rgb(255,255,255), 2px 0 1px 2px rgb(255,255,255);
  border-radius: 4px;
  margin: 10px;
  gap: 1px;
}

div.hover-effect {
  background: rgba(255,255,255,0.6);
}

.board > div {
  display: flex;
}

.cell {
  width: var(--block-size);
  height: var(--block-size);
  border: 1px outset white;
}

.cell:hover {
  background-color: rgb(0,0,200);
}

.miss-mark {
  color: white;
  line-height: 38px;
  background-color: #151572;
}

div.hit-mark {
  color: white;
  background-color: red;
}

div.cell.hit-mark:hover {
  background-color: indianred;
}

div.cell.hit-mark:hover,
div.cell.miss-mark:hover {
  cursor: not-allowed;
}