.ship {
  display: flex;
  background-color: white;
  width: min-content;
  border-radius: 4px;
  cursor: grab;
  animation: showOnScreen 0.4s forwards;
  border: 1px solid white;
  gap: 1px;
  padding: 2px;
}

.ship-block {
  width: var(--block-size);
  height: var(--block-size);
  background-color: #595353;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 1px white;
  border: 1px solid rgba(0,0,0,0.3)
}

/* Ship placed in grid */
.cell.ship-block {
  cursor: pointer;
}

.cell.ship-block {
  animation: showUp 0.1s forwards;
}

.cell.ship-block:hover {
  background-color: #747272;
}

@keyframes showOnScreen {
  0% {
    opacity: 0;
    transform: translateX(-400%) rotate(-90deg);
  }

  100% {
    opacity: 1;
  }
}