.configuration-screen {
  display: grid;
  background: #333333;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: showOnScreen 0.1s forwards;
  transform: translateY(-50%);
  justify-items: center;
}
