@font-face {
  font-family: 'press-start';
  src: url("../assets/press-start2.ttf");
}

@font-face {
  font-family: 'arcade-classic';
  src: url("../assets/arcade-classic.ttf");
}

@font-face {
  font-family: 'invasion-2000';
  src: url("../assets/invasion-2000.TTF");
}

:root {
  --main-color: red;
  --secondary-color: #595353;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(33,33,33);
  display: grid;
  grid-template-rows: min-content 1fr;
}

header {
  color: white;
  grid-template-columns: min-content 1fr 1fr 1fr;
  padding: 10px;
  display: grid;
  justify-content: center;
  background-color: var(--main-color);
  align-items: center;
  box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

h1 {
  font-family: 'press-start', sans-serif;
  padding: 10px;
  font-size: 4.5rem;
  grid-column: 3/4;
}

.game-section {
  position: relative;
  background: radial-gradient(white, transparent);
}

.menu-button {
  font-family: 'invasion-2000', sans-serif;
  cursor: pointer;
  box-shadow: 1px 4px 1px rgb(33,33,33);
  border: 1px solid black;
  padding: 8px 16px;
  font-weight: bold;
  color: white;
  background: var(--main-color);;
  font-size: 1.5rem;
  transition: all 0.1s;
}

.menu-button:active {
  box-shadow: 0 0 1px rgb(33,33,33);
  transform: translateY(3px) translateX(1px);
}

.option-button {
  padding: 10px 15px;
  font-family: 'arcade-classic', sans-serif;
  color: white;
  background: var(--main-color);
  font-size: 1.2rem;
  box-shadow: 0px 4px 1px rgba(255,0,0,3.5);
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s;
}

.option-button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(255,0,0,3.5);
}